[submodule "submodules/map-anything"]
	path = submodules/map-anything
	url = https://github.com/facebookresearch/map-anything.git
[submodule "submodules/vggt"]
	path = submodules/vggt
	url = https://github.com/facebookresearch/vggt.git
